<html>
  <head>
    <style type="text/css">
      body {
        background: white;
        color: black;
      }
      div.container {
        max-width: 1500px;
        margin: 100px auto;
        border: 10px solid black;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Random Hundegger Machine:</h1>
      <img src="{{url}}" />
	  <p>Picture-URL: <a href="{{url}}">Link</a></p>
      <p>Pictures from: <a href="http://www.hundegger.de">Hundegger</a></p>
	  <p>Inspired by: <a href="https://docker-curriculum.com/">docker-curriculum</a></p>
    </div>
  </body>
</html>
